

@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root{
    --cor-primaria: hsl(308, 69%, 14%);
    --cor-secundaria: #d43ab5;
    --cor-terciaria: #cd2222;
    --cor-quartenaria: #e9e8edfb;
    --cor-hover: #000;
}
body{
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}


*{
    margin: 0;
    padding: 0; 
    font-family: 'Rubik', sans-serif;
}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.log{
    width: 100%;
    float: left;
}
.logo-img{
    float: inherit;
    margin-top: 1%;
    margin-left: 5%;
    color: rgb(7, 7, 92);

}

.logo-text1{
    float: inherit;
    margin-left: 20%;
    color:var(--cor-hover);
}

.aviso2{
    width: 60%;
    height: 80%;
    border-radius: 30px;
    color: var(--cor-hover); 
}
#textoInput{
    font-size: 20px;
    color: var(--cor-hover);
    margin-top: 10px;
    width: 60%;
    height: 60%;
    text-align: center;
    margin-left: 30%;
    margin-right:30%;
    float: left;
    background: transparent;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    border:none;
    outline: 0;
}
.text-input2::placeholder{
    color: var(--cor-quartenaria);
    text-align: center;
}

.text-input2{
    float: inherit;
    margin-top: 20%;
    margin-left: 20%;
    width: 70%;
    height: 70%;
    color:var(--cor-terciaria);
    font-size: 20px;
    background: transparent;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    border: 3px solid var(--cor-primaria);
    outline: 0;
    text-transform: uppercase;
    

}

.caixa{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    border: 3px solid var(--cor-primaria);
    

}

#mensagem img{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}
#texto2{
    font-size: 20px;
    text-align: center;
    background: transparent;
    border: none;
    outline: 0;
    color: darkturquoise;
   
}

.botao{
    width: 50%;
    height: auto;
    border-radius: 24px;
    cursor: pointer;
}

#botao{
    padding: 24px;
    margin-left: 15%;
    border-radius: 24px;
    height: 40%;
    width: 30%;
    cursor: pointer;
    background-color: #f10d0d;
    font-size: 100%;
    color: var(--cor-quartenaria);
}

#botao2{
    padding: 24px;
    margin-left: 15%;
    border-radius: 24px;
    height: 40%;
    width: 30%;
    cursor: pointer;
    background-color: darkblue;
    font-size: 100%;
    color: var(--cor-quartenaria);
}

.botao-encriptar:hover{
    border: 2px solid var(--cor-hover);
    transition: 0.5s all;

}

.botao-descriptar:hover{
    border: 2px solid var(--cor-hover);
    transition: 0.5s all;
   
}

#copiar{
    margin-left: 33%;  
    padding: 24px;
    width: 40%;
    height: 10%;
    border-radius: 24px;
    cursor: pointer;
    background-color: #08899a;
    font-size: 100%;
    color: var(--cor-quartenaria);
} 
.rodape{
    width: 80%;
    float: left;
    height: 15%;
    border-radius: 24px;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-60%, -60%);
    text-align: center;

}

.rodape a:hover{
    color: var(--cor-hover);
    transition: 0.5s all;
    font-size: 16px;
}

.ícons ion-icon{
    color:rgb(7, 7, 92);
    cursor: pointer;
    width: 30%;
    height: 30%;
}

.ícons ion-icon:hover{
    color: var(--cor-hover);
}









